body {
    font-family: "Kumbh San", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg),
      url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 45vw bottom 25vh, left 45vw top 44vh;
    
}
.conteiner {
    width: 350px;
    height: 374px;
    background-color: #fff;
    box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
    border-radius: 15px;
}
.bubbls{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.victor {
    justify-content: center;
    display: flex;
    margin-top: -50px;

}
.victor img {
    width: 96px;
    height: 96px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid #fff;
}
.person .name {
    width: 104px;
    height: 18px;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2E3349;
    margin-top: -11px;
    margin-left: -27px;
}
.person .age {
    height: 18px;
    width: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #6B7082;
    margin-top: -36px;
    margin-left: 110px;
}
.person .location {
    width: 50px;
    height: 14px;
    color: #6B7082;
    font-weight: 400px;
    font-size: 14px;
    line-height: 17px;
    margin-top: -2px;
}
hr {
    width: 350px;
    height: 1px;
    overflow: hidden;
    background: #E8E9EC;
    margin-left: -1px;
    margin-top: 35px;
}
.followers .sub {
    width: 35px;
    height: 18px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2E3349;
    margin-left: -200px;
}
.followers .follow {
    width: 56px;
    height: 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.5px;
    color: #6B7082;
    margin-left: -200px;
    margin-top: -7px;
}
.likes .p1 {
    width: 46px;
    height: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2E3349;
    margin-top: -48px;
}
.likes .like {
    width: 29px;
    height: 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.5px;
    color: #6B7082;
    margin-top: -8px;
}
.photos .p1 {
    width: 38px;
    height: 18px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2E3349;
    margin-left: 200px;
    margin-top: -48px;
}
.photos .p2 {
    width: 40px;
    height: 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.5px;
    color: #6B7082;
    margin-left: 200px;
    margin-top: -8px;
}
@media only screen and (min-width: 500px) {
    .container {
      width: 326px;
    }
   
  }